.Button {
  display: flex;
  justify-content: center;
  color: var(--gray-11);
  padding: var(--space-2) var(--space-3);
  background: var(--gray-2);
  border-radius: var(--space-1);
  border: 1.5px solid var(--gray-3);

  font-size: var(--space-4);
  font-family: var(--font-family);

  @media (prefers-reduced-motion: no-preference) {
    transition-property: background-color, color, border-color;
    transition-duration: var(--duration);
    transition-timing-function: ease-in-out;
  }
}

.Button:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.Button:active {
  background: var(--gray-3);
}
